.user {
    width: max-content;
    height: max-content;
    background-color: aquamarine;
    display: flex;
    justify-content: start;
}
.bot   {
    display: flex;
    justify-content: flex-end;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    min-width: 350px;
}